<!--<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

  </div>
</div>-->
<!-- Header -->

<!-- Photo Grid -->
<div class="cardDiv desktop-display" style="padding-left:3rem;">
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/html.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn HTML</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/css.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn CSS</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Javascript</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/jquery.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Jquery</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/aspnetmvc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Asp.net MVC</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/webapi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn WebApi</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/entityframework.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Entityframework</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/adonet.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn ADO.Net</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/sqlserver.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn SQL Server</a>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="cardDiv mobile-display">
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/html.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn HTML</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/css.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn CSS</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/js.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Javascript</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/jquery.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Jquery</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/aspnetmvc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Asp.net MVC</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/webapi.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn WebApi</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/entityframework.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn Entityframework</a>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/adonet.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn ADO.Net</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card" style="width: 100%;">
        <img src="../../assets/sqlserver.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Visit to learn SQL Server</a>
        </div>
      </div>
    </div>
  </div>

</div>
