.mobile-display {
  display: none;
  border: none;
}

.desktop-display {
  display: block;
  border: none;
}
@media (max-width:800px) {
  .desktop-display {
    display: none;
  }

  .mobile-display {
    display: block
  }
}
.container 
{
    max-width:100%;
    padding-left:10px;
    padding-right:10px;
}
