<div class="desktop-display" style="padding-top: 2rem;padding-left: 10px;padding-right: 10px">
  <div class="container" style="border: groove">
    <div class="row" style="padding-top: 21px;">
      <div class="col-3">
        <div class="row">
          <div class="col">
            Candidate
          </div>
          <div class="col">
            : {{username}}
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10">
            <label style="float:right">Timer</label>
          </div>
          <div class="col">
            : {{display}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col">
            Topic
          </div>
          <div class="col">
            : HTML
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="row">
          <div class="col">
            Total Questions
          </div>
          <div class="col">
            : 20
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="padding-bottom:10px">
      <div class="col-3">
        <div class="row">
          <div class="col">
            Total Marks
          </div>
          <div class="col">
            : 20
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desktop-display" style="padding-top: 10px;padding-left: 10px;padding-right: 10px">
  <div class="container" style="border: groove">
    <div class="row" style="padding-top: 21px;">
      <div class="col-10" style="text-align:right">
        Candidate :
      </div>
      <div class="col">
        {{username}}
      </div>
    </div>
    <div class="row">
      <div class="col-10" style="text-align:right">
        Topic :
      </div>
      <div class="col">
        HTML
      </div>
    </div>
    <div class="row">
      <div class="col-10" style="text-align:right">
        Total Questions :
      </div>
      <div class="col">
        20
      </div>
    </div>
    <div class="row">
      <div class="col-10" style="text-align:right">
        Total Marks :
      </div>
      <div class="col" style="padding-bottom:1rem">
        20
      </div>
    </div>
  </div>
</div>


<div class="mobile-display" style="padding-top: 4rem; padding-left: 10px; padding-right: 10px">
  <div class="container" style="border:solid">
    <div class="row" style="padding-top: 21px;">
      <div class="col-6" style="text-align:right">
        Candidate :
      </div>
      <div class="col">
        {{username}}
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Topic :
      </div>
      <div class="col">
        HTML
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Total Questions :
      </div>
      <div class="col">
        20
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Total Marks :
      </div>
      <div class="col" style="padding-bottom:1rem">
        20
      </div>
    </div>
  </div>
</div>
<div class="mobile-display" style="padding-top: 10px; padding-left: 10px; padding-right: 10px">
  <div class="container" style="border:solid">
    <div class="row" style="padding-top: 21px">
      <div class="col-6" style="text-align:right">
        Candidate :
      </div>
      <div class="col">
        {{username}}
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Topic :
      </div>
      <div class="col">
        HTML
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Total Questions :
      </div>
      <div class="col">
        20
      </div>
    </div>
    <div class="row">
      <div class="col-6" style="text-align:right">
        Total Marks :
      </div>
      <div class="col" style="padding-bottom:1rem">
        20
      </div>
    </div>
  </div>
</div>



