#login {
  margin-left: 100px;
  font-style: italic;
  font-size: 10px;
  font-weight: 100;
}

#REGISTER {
  margin-left: 100px;
  font-style: italic;
  font-size: 10px;
  font-weight: 100;
}

.heading {
  color: #339FFF;
  font-family: math;
}

