<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <h3 class="heading">ADMIN REGISTER </h3>
          <div class="form-outline mb-4">
            <input type="text" placeholder="Username" id="typePasswordX-2" class="form-control form-control-lg" /> <br>
            <input type="text" placeholder="Email id" id="typePasswordX-2" class="form-control form-control-lg" /> <br>
            <input type="Password" placeholder="Password" id="typeEmailX-2" class="form-control form-control-lg" /><br>
            <!--<input type="checkbox" Password onclick="myFunction()"> Show Password <br><br>-->
            <input type="Password" placeholder="Confirm Password" id="typeEmailX-3" class="form-control form-control-lg" />
            <!--<input type="checkbox" Confirm Password onclick="myFunction1()"> Show Confirm Password-->
          </div>
          <button class="btn btn-primary btn-lg btn-block" type="submit" [routerLink]="['/login']">SIGNUP</button>
          <br />
          <br />
          <P id="login"><b> IF YOU ARE CANDIDATE   <a [routerLink]="['/candidate']">CLICK</a> HERE </b></P>
          <P id="REGISTER"><b> IF YOU ARE EXISTED ADMIN   <a [routerLink]="['/login']">LOGIN</a> HERE </b></P>
        </div>
      </div>
    </div>
  </div>
</div>
